#addtobox {
  text-align: center;
  color: #515B57;
  background-color: #80BCAE;
  font-weight: bold;
}
#submission {
    height: 3em;
    display: inline-block;
    padding-bottom: 10%;
    margin-bottom: 4%;
  }
#submission input {
    padding-bottom: 2%;
  }
#photoshow {
    display: inline-block;
    background-color: lightyellow;
    color: darkgrey;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
#showtheimage {
    float: left;
    height: 200px;
    width: 350px;
    padding-left: 5%;
  }
#photoshow p {
  float: right;
  padding-right: 8%;
}
#photoshow h3 {
  float: right;
  padding-right: 8%;
}
#gototimer{
  margin-bottom: 5em;
}
