.addto {
  text-align: center;
  color: #515B57;
  background-color: pink;
  font-weight: bold;
}
#myspecialheader {
  background-image: url("http://res.cloudinary.com/kmattiko/image/upload/c_scale,h_350,w_1400/v1438218281/reusage-blog-fabulous-burnt-burned-wood-close-up_bubcl0.png");
  width: 100%
  font-family: cursive;
  font-size: 25ex;
}

#submission {
    height: 3em;
    display: inline-block;
    padding-bottom: 10%;
    margin-bottom: 4%;
  }
.submission input {
    padding-bottom: 2%;
  }
.display {
    display: inline-block;
    background-color: lightyellow;
    color: darkgrey;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  .display img {
    float: left;
    padding-left: 5%;
    width: 540px;
    height: auto;
}
#showtheimage {
    float: left;
    height: 15px;
    width: 15px;
    padding-left: 5%;
  }
.display p {
  float: right;
  padding-right: 8%;
}
.display h4 {
  float: right;
  padding-right: 8%;
}

.atbottom {
  text-align: center;
  background-color: lightyellow;
  height: 5em;
  padding-bottom: 5em;
  padding-left: 90em;
  color: teal;
}
