#completebox {
  text-align: center;
}

#timeform {
  height: 40em;
  background-color: lightgrey;
}

#calendarform {
  height: 6em;
  background-color: #6DC6B6;
  padding-top: 2em;
  margin-bottom: 3em;
}
