#completebox {
  text-align: center;
}

#timeform {
  height: 40em;
  background-color: lightgrey;
}


#timeform p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

#calendarform {
  border-radius: 30px;
  height: 6em;
  font-size: 1.2em;
  background-color: #6DC6B6;
  width: 50%;
  margin-left: 25%;
  padding-top: 2em;
}
#calendarform p {
  margin-top: 3em;
  font-size: 1.2em;
}
#closebutton {
  margin-bottom: 2em;
}
