#homepage {
  background-color: lightgrey;
}
.maincontent {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 20%;
}
.display {
  width: 100%;
}
.atbottom {
  text-align: center;
  background-color: lightyellow;
  padding-bottom: 6em;
  padding-top: 2em;
  padding-left: 90em;
  margin-top: 10%;
  color: teal;
}
