#landingpage {
  background-color: lightgray;
}
.jumbotron {
  padding-bottom: 20%;
  background-color: darkgrey;
  color: lightyellow;
}
.content {
  padding-bottom: 5%;
  text-align: center;
}
h3 {
  font-size: 2em;
}

.atbottom {
  text-align: center;
  background-color: lightyellow;
}
