#thanks {
  text-align: center;
}
#thanks h2 {
  border: .2em solid #6DC6B6;
  width: 60%;
  border-radius: 30px;
  margin-left: 20%;
  padding-top: .3em;
  padding-bottom: .3em;
}

#thanks li {
  list-style: none;
}
#thanks h3 {
  padding-bottom: 1em;
  font-size: 1.7em;
  font-weight: bold;
}
#thanks p {
  font-style: 1.7em;
}
