<div class="container-fluid addto" ng-controller="PhotoController as photo">
  <!-- <h2>Your Box Here!</h2>  need to add title selcted from newbox page
  <input type='file' accept="*.pdf,*.jpg,*.png,*.img"/> -->
  <header class="jumbotron">
    <h1>Bury this Box</h1>
  </header>
  <!--end of jumbotron-->

  <form class="form-control" id="submission" ng-submit="photo.sumbit()">
    <div class="form-group">
       <a href="#/addtobox" class="btn btn-warning" id="upload_widget_opener">Click Here to Upload</a>
      <!--<input ng-model="photo.url" value="{{photo.url}}" placeholder="Your Image Here">
      <label class="upload-label" for="exampleInputFile">wait here a moment</label> -->
    </div>
    <!--<form class="submission" class="form-control" ng-submit="photo.submit()">
    Photo URL
    <input type="text" class="form-control" ng-model="photo.url" name="text" placeholder="www.placeimg.com"/><br>
    Photo Title
    <input type="text" id="phototitle" class="form-control" ng-model="photo.title" name="text" placeholder="Our First..."/><br>
    Photo Description
    <input type="text" id="photodescription" class="form-control" ng-model="photo.description" name="text" placeholder="I Remember This..."/><br>
    <button class="btn btn-warning" type="sumbit" value="Submit">Sumbit Info</button>-->
    <!--<button type="submit" id="submit" value="Submit">Add to Box</button></br>
    <button type="done" id="done" value="Submit" ng-click="#/savebox">View My Box</button>-->
  </form>

  <div class="display" class="col-lg-12" ng-repeat="photo in photo.data">
    <img src="https://placeimg.com/150/150/any/grayscale" ng-src={{photo.photo}}>
    <h4 class="col-lg-9">{{photo.title}}</h4>
    <p class="col-lg-9">{{photo.description}}</p>
  </div>

  <div class="complete" class="col-lg-12">
    <a href='#/hideshow' class="btn btn-warning">See Completed Box</a>
  </div>

  <footer class="atbottom" class="col-lg-12">
    <h3>SkimMatt 2015</h3>
  </footer>

</div>
