<div class="container-fluid addto" ng-controller="PhotoController as photo">

  <header class="jumbotron" id="myspecialheader">
    <h1>Bury this Box</h1>
  </header><!--end of jumbotron-->

  <form class="form-group" id="submission" ng-submit="photo.sumbit()">
    <a href="#/addtobox" class="btn btn-warning" class="form-control" id="upload_widget_opener">Click Here to Upload</a>
    <p>Add a Photo Title</p>
    <input type="text" id="phototitle" class="form-control" ng-model="photo.title" name="text" placeholder="Our First..."/><br>
    <p>Add a Photo Description</p>
    <input type="text" id="photodescription" class="form-control" ng-model="photo.description" name="text" placeholder="I Remember This..."/><br>
    <!--<button class="btn btn-warning" type="sumbit" value="Submit">Sumbit Info</button>
    <button type="submit" id="submit" value="Submit">Add to Box</button></br>-->
    <button type="done" class="btn btn-warning" id="done" value="Submit">Submit Info</button>
  </form>

  <div class="display" class="col-lg-12" ng-repeat="photo in photo.data">
    <img src="https://placeimg.com/150/150/any/grayscale" ng-src={{photo.photo}}>
    <h4 class="col-lg-9">{{photo.title}}</h4>
    <p class="col-lg-9">{{photo.description}}</p>
  </div>

  <div class="complete" class="col-lg-12">
    <h4>Are you finished with your box?</h4>
    <a href='#/completebox' class="btn btn-warning">Click to Close</a>
  </div>

  <footer class="atbottom" class="col-lg-12">
    <h3>SkimMatt 2015</h3>
  </footer>

</div>
