<div class="container-fluid addto">
  <!-- <h2>Your Box Here!</h2>  need to add title selcted from newbox page
  <input type='file' accept="*.pdf,*.jpg,*.png,*.img"/> -->
  <h3>Your Box Title Here...</h3>

<form ng-submit="photo.submit()" ng-controller="PhotoController as photo">
  Add a Photo URL
  <input type="text" ng-model="photo.url" name="text" placeholder="Your Pic Here"/><br>
  Add a Photo Title
  <input type="text" ng-model="photo.title" name="text" placeholder="Flowery Title"/><br>
  Add a little something about this photo
  <input type="text" ng-model="photo.description" name="text" placeholder="Something to remember..."/><br>
  <button type="sumbit" value="Submit">Sumbit Info</button>
  <!--<button type="submit" id="submit" value="Submit">Add to Box</button></br>
  <button type="done" id="done" value="Submit" ng-click="#/savebox">View My Box</button>-->
</form>

<div class="col-lg-12" ng-controller="ListController as list" ng-repeat="photo in list.photos">
  <img>{{list.url}}</img>
  <p>{{list.title}}</p>
  <p>{{list.description}}</p>
</div>
</div>
