<div id="closedbox container-fluid">

<header class="jumbotron col-lg-12">
    <h1>Closed Box</h1>
    <p>Your box can be closed on a timer, select the amount of time</p>
    <img src="http://st.houzz.com/simgs/2261063904b93e2e_4-9745/asian-jewelry-boxes-and-organizers.jpg">
  </div>
</header>
<!--end of jumbotron-->

<div class="col-lg-12" ng-controller="TimeController as time">
<timer interval="1000" countdown="4">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
<button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
<button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
<div ng-show="!toggle">
<img ng-hide="toggle" src="http://clarkstonareafarmersmarket.weebly.com/uploads/3/0/2/1/30214255/1919248.jpg">
</div>
</div>
<!--end of signin -->
<div class="signout col-lg-12">
  <a href='#/landing'class="btn btn-warning">Sign Out</a>
</div>


<footer id="atbottom" class="col-lg-12">
<h3>Footer</h3>
<p>A footer of some kind will live here one day</p>
</footer>
</div> <!--end of landingpage -->
