<div id="closedbox" class="container-fluid" class="col-lg-12">


<header class="jumbotron">
    <h1>Bury This Box</h1>
</header><!--end of jumbotron-->


<div class="col-lg-12">
  <h3> Close Your Box </h3>
  <p>Your box can be closed on a timer, select the amount of time</p>
  <img src="http://st.houzz.com/simgs/2261063904b93e2e_4-9745/asian-jewelry-boxes-and-organizers.jpg">
</div>


<form class="form-control" class="col-lg-12" ng-controller="TimeController as time" ng-submit="time.submit()">
  Close this box until...
  <input type="date" id="opendate" class="form-group" ng-model="time.open.opendate">
  <button type="submit" value="Submit" class="btn btn-warning">Submit</button>
  <a href="#" class="btn btn-warning">Done</a>
</form>


<footer class="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
</footer>


</div>
