<!--<div class="completebox col-lg-12" ng-controller=>

  <header class="jumbotron" id="myspecialheader">
    <h1>Bury this Box</h1>
  </header>end of jumbotron-->

<!--<a class="btn btn-warning" ng-click="showhide.submit = !showhide.submit">Hide Photos</a>
<div ng-show="showhide"></div>

<ul class="photolist" ng-hide="showhide.submit">
  <li>
    <img ng-src="https://placeimg.com/150/150/animals">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
  <li>
    <img ng-src="https://placeimg.com/150/150/animals">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
  <li>
    <img ng-src="https://placeimg.com/150/150/animals">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
</ul>

<div ng-show="showhide.submit">
  <h3>For how long?</h3>
<select>
  <option>30 seconds</option>
  <option>30 days</option>
  <option>6 months</option>
</select>

<a href='#/completebox'class="btn btn-warning">Close My Box</a>
</div>

<footer id="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
</footer>

</div>-->
