<div id="homepage" class="container-fluid" class="col-lg-12">

<header class="jumbotron">
    <h1>Bury this Box</h1>
</header> <!--end of jumbotron-->

<div class="maincontent">
<section id="existingbox" class="col-lg-12">
  <img src="http://www.craftsinindia.com/newcraftsimages/HCWC0023BXSBR.jpg"/>
  <h3>Your open boxes</h3>
  <a href="#/addtobox" class="btn btn-warning">Open Box</a>
</section>
</div>

<footer class="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
</footer>

</div> <!--end of homepage -->
