<div id="homepage" class="container-fluid" class="col-lg-12" ng-controller="HideShowController as hideshow">

  <header class="jumbotron" id="myspecialheader">
    <h1>Bury this Box</h1>
  </header><!--end of jumbotron-->

<section class="maincontent" id="existingbox" ng-if="hideshow.endTime < hideshow.today || null">
<!--  <h4>Signed In As:{{authData.google.displayName}}</h4> -->
  <h2>View Your Open Box</h2>
  <a href="#/addtobox" class="btn btn-warning">Open Box</a>
</section>

<section class="maincontent" id="existingbox" ng-if="hideshow.endTime > hideshow.today">
  <h2>Your Box is Closed</h2>
  <h4>Please return on {{hideshow.normDate}}</h4>
</section>

<div class ="col-lg-2 offset-lg-5">
    <a href="#/landing" id="logoutbtn" class="btn btn-warning" ng-click="logout.logout()">Sign Out</a>
</div>

<footer id="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
<a href="#/specialthanks">Special Thanks</a>
<a href="https://github.com/kmattiko/Bury-this-Box">See the Code on Github</a>
</footer>

</div> <!--end of homepage -->
