<div id="homepage" class="container-fluid" class="col-lg-12" ng-controller"HideShowController as hideshow">

  <header class="jumbotron" id="myspecialheader">
    <h1>Bury this Box</h1>
  </header><!--end of jumbotron-->

<section class="maincontent" id="existingbox" ng-model="hideshow.timestamp" ng-if="true">
  <h4>Signed In As:{{authData.google.displayName}}</h4>
  <h2>View Your Open Box</h2>
  <a href="#/addtobox" class="btn btn-warning">Open Box</a>
</section>

<section class="maincontent" id="existingbox" ng-if="">
  <h2>Your Box is Closed</h2>
  <h4>Please return on...</h4>
  <a href="#/addtobox" class="btn btn-warning">Open Box</a>
</section>

<footer id="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
</footer>

</div> <!--end of homepage -->
