<div id="landingpage" class= "container-fluid col-lg-12">

  <header class="jumbotron" id="myspecialheader">
    <h1>Bury this Box</h1>
  </header><!--end of jumbotron-->

<div id="heading" class="col-lg-12">
  <h2>A place for hidden items to live</h2>
  <img src="http://clarkstonareafarmersmarket.weebly.com/uploads/3/0/2/1/30214255/1919248.jpg">
</div>

<section id="about" class="col-lg-12" >
  <h3>A little bit about this service...</h3>
  <p>We provide a place for you to store images that you may not want to look at right now. You might want to look at them later but not today. We are here to help. You can store those photos with us, even give yourself a set amount of time away, and come back to them when you are ready.
    Welcome to Bury this Box. </p>
</section><!--end of about -->


<div id="signin" class="col-lg-12" ng-controller="LoginController as login">
  <h3>Sign-In with Google</h3>
  <img src="http://icons.iconarchive.com/icons/position-relative/social-1/128/google-icon.png"><br>
  <a href="#/home" ng-click="login.login()" id="loginrouting" class="btn btn-warning">Authenticate</a>
</div><!--end of signup -->


<footer id="atbottom" class="col-lg-12">
<h3>SkimMatt 2015</h3>
</footer>


</div><!--end of landingpage -->
