<div id="landingpage container-fluid">

<header class="jumbotron">
  <div class="col-lg-12">
    <img src="http://clarkstonareafarmersmarket.weebly.com/uploads/3/0/2/1/30214255/1919248.jpg">
    <h1>Bury this Box</h1>
    <p>A place for unpleasent items to live</p>
  </div>
</header>
<!--end of jumbotron-->
<section id="about" class="col-lg-12">
  <h2>A little bit about this service...</h2>
  <p>We provide a place for you to store images that you may not want to look at right now. You might want to look at them later but not today. We are here to help. You can store those photos with us, even give yourself a set amount of time away, and come back to them when you are ready.
    Welcome to Bury this Box. </p>
</section>
<!--end of about -->
<div class="content">
<!--<div id="signin" class="col-lg-6">
  <h3>Return to your box <br> or <br> Start a new box</h3>
  <a href="#/googlelogin" id="googlelogin" ng-click="login.login()">Log-in with Google</a>
</div> -->


<!--end of signin -->
<div id="signup" class="col-lg-12" ng-controller="LoginController as login">
  <h3>Sign In Here</h3>
  <h4>Email</h4>
  <input type="email" name="email" ng-model="model.user"/>
  <h4>Password</h4>
  <input type="password" name="password" ng-model="model.password"/><br>
  <a href="addtobox" class="btn-default" ng-click="login($event)">Go!</a>
</div><!--end of signup -->
</div>


<footer id="atbottom" class="col-lg-12">
<h3>Footer</h3>
<p>A footer of some kind will live here one day</p>
</footer>
</div> <!--end of landingpage -->
