<header class="jumbotron">
  <div class="col-lg-12">
  <img src="http://placekitten.com/g/80/80">
  <h1>Bury this Box</h1>
  <p>A place for unpleasent items to live</p>
  </div>
</header> <!--end of jumbotron-->
<section id="about" class="col-lg-12">
  <h2>A little bit about this service..</h2>
  <p>We provide a place for you to store images that you may not want to look at right now. You might want to look at them later but not today. Maybe you've gone something unpleasant or you've lost someone. You probably have lots of memories and photos that you don't want to get rid of but you don't want to see everytime you open your normal photo application. We are here to help. You can store those photos with us, even give yourself a set amount of time away, and come back to them when you are ready. Welcome to Bury this Box. </p>
</section> <!--end of about -->
<div class="auth">
</div> <!--end of auth -->
