<div class="completebox col-lg-12" ng-controller="ShowHideController as showhide">
<h2>Your Box's Title</h2>
<ul class="photolist">
  <li>
    <img ng-src="https://placeimg.com/150/150/animals" ng-show="showhide.image">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
  <li>
    <img ng-src="https://placeimg.com/150/150/animals" ng-show="showhide.image">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
  <li>
    <img ng-src="https://placeimg.com/150/150/animals" ng-show="showhide.image">
    <h4>Our First Date</h4>
    <p>This was blah, blah, blah, blah. I felt good because blah, blah, blah</p>
  </li>
</ul>
<a href ng-click="'!image' = 'image'">Toggle Pictures</a>

</div>

<!--<div>
  <input type="checkbox" ng-model="checked">
  <p ng-hide="checked">Test</p>
</div>

<div class="banana" ng-hide="hideshow.submit">
<h3>Your Items have been hidden, check back later</h3>
</div>
<select ng-click>
  <option>30 seconds</option>
  <option>30 days</option>
  <option>6 months</option>
</select>
<button class="submit" type="submit" ng-click>submit</button>-->

<!--ng-controller="HideShowController as hideshow"-->
