<div id="homepage" class="container-fluid" class="col-lg-12">

  <header class="jumbotron" id="myspecialheader">
    <h1>Special Thanks</h1>
  </header>
  <!--end of jumbotron-->

  <section class="maincontent" id="existingbox">
    <h2>The following people were important to the success of Bury this Box.</h2>
    <ul>
      <li>The Iron Yard
        <p>I appreciate all of the support of the talented instructors</p>
      </li>
      <li>The 2015 Front-End Cohort
        <p>I found so much fun and assistance working with my peers</p>
      </li>
      <li>My Images
        <p>Thanks to Clarkston Area Farmers Market for the beautiful image on the landing screen </p>
      </li>
      <li>The Loving Support of Family and Friends
        <p>This project wouldn't have been the same without your love and support</p>
      </li>
    </ul>
  </section>

  <div class="col-lg-12">
    <a href="#/home" id="logoutbtn" class="btn btn-warning">Back to Home</a>
  </div>

  <footer id="atbottom" class="col-lg-12">
    <h3>SkimMatt 2015</h3>
    <a href="#/specialthanks">Special Thanks</a>
    <a href="https://github.com/kmattiko/Bury-this-Box">See the Code on Github</a>
  </footer>

</div>
<!--end of homepage -->
