<div id="homepage" class="container-fluid" class="col-lg-12">

  <header class="jumbotron" id="myspecialheader">
    <h1>Special Thanks</h1>
  </header>
  <!--end of jumbotron-->

  <section id="thanks">
    <h2>The Following People were Crucial to the Success of Bury this Box</h2>
    <ul>
      <li>
        <h3>The Iron Yard</h3>
        <p>I appreciate all of the support of the talented instructors</p>
      </li>
      <li>
        <h3>The 2015 Front-End Cohort</h3>
        <p>I found so much fun and assistance working with my peers</p>
      </li>
      <li>
        <h3>My Images</h3>
        <p>Thanks to Clarkston Area Farmers Market for the beautiful image on the landing screen </p>
      </li>
      <li>
        <h3>My Amazing Family and Friends</h3>
        <p>This project wouldn't have been the same without your love and support</p>
      </li>
    </ul>
  </section>

  <div class="col-lg-12">
    <a href="#/home" id="logoutbtn" class="btn btn-warning">Back to Home</a>
  </div>

  <footer id="atbottom" class="col-lg-12">
    <h3>SkimMatt 2015</h3>
    <a href="https://github.com/kmattiko/Bury-this-Box">See the Code on Github</a>
  </footer>

</div>
<!--end of homepage -->
