<div class="container photos">
  <!-- <h2>Your Box Here!</h2>  need to add title selcted from newbox page
  <input type='file' accept="*.pdf,*.jpg,*.png,*.img"/> -->
  <form ng-submit="submit()" ng-controller="PhotoController">
  Add the Picture's URL<br>
  <input type='text' ng-model="someText.testfield" name="text" placeholder="your pic here"/>
  <button type="submit" id="submit" value="Submit">Submit</button>
  <pre>list={{list}}</pre>
<!--</div>
</form>
<div class="col-lg-12" ng-repeat="list in photo.lists">
<p id="seeit">{{list.url}}</p>
  <p id="itstitle">{{list.title}}</p>
  <p id="itsdescription">{{list.description}}</p>
  <p id="itsdate">{{list.date}}</p>-->
